body {
  text-align: center;
  background: #222;
}



.container {
  width:100%;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 10px;
  align-items: center;
  background: black;
}

.editor {
  display: inline-flex;
  gap: 10px;
  font-family: monospace;
  line-height: 25px;
  background: #222;
  border-radius: 2px;
  padding: 20px 10px;
  min-width: 100%;
  font-size: 15px;
}

textarea {
  line-height: 25px;
  padding: 0;
  font-size: 15px;
  padding-left: 10px;
  border: 0;
  background: #222;
  width: 95%;
  color: #FFF;
  outline: none;
  resize: none;
  border-left: 1px solid grey;
  position: relative;
}

textarea::placeholder {
  font-size: 30px;
  text-align: center;
}
.line-numbers, .line-numbers1, .line-numbers2 {
  min-width: 5%;
  text-align: right;
}

.line-numbers span, .line-numbers1 span, .line-numbers2 span {
  counter-increment: linenumber;
  display: block;
}

.line-numbers span::before, .line-numbers1 span::before, .line-numbers2 span::before {
  content: counter(linenumber);
  display: block;
  color: #506882;
}

iframe {
  bottom: 0;
  position: relative;
  width: 100%;
  height: 100vh;
  border: none;
  background: white;
}

button {
  padding: 8px;
  font-size: 15px;
  outline: none;
  border: none;
  background: green;
  color:white;
  cursor:pointer;
  margin: 0 5px 5px 5px;
}
#showHtml {
  background: red;
}

button a {
  text-decoration: none;
  outline: none;
  color: white;
}

.h1 {
  color: white;
  font-size: 30px;
  font-weight: 600;
}
h3 {
  color:white;
  font-weight:600;
  font-size: 20px;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
}

#result {
  display: none;
}
#header {
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  z-index:1;
}
#css1, #js1 {
  display: none;
}
#editor {
    padding-bottom: 45px;
    
}
#html_short, #css_short, #js_short {
    position: fixed;
    bottom: 2px;
    left: 0;
    overflow: scroll;
    background: #222;
    padding: 5px;
    width: 100%;
    height: 65px;
     
}
#html_short > div, #css_short > div, #js_short > div {
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-start;
}

.but2 > button {
    padding: 5px 11px;
    background: white;
    color: black;
    border-radius: 5px;
    font-size: 12px;
    margin: 2px;
    font-weight: 600;
}
.but > button  {
    padding: 5px 10px;
    background: grey;
    color: white;
    border-radius: 8px;
    font-size: 12px;
    margin:2px;
}
#css_short > .but2 > button {
  padding: 5px 18px;
}
#css_short, #js_short {display: none}
@media only screen and (min-width: 821px) {
  #html_short, #css_short, #js_short {
    display: none;
  }
}